.ctop-catalog-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ctop-catalog-main section{
    padding: 25px 20px;
}
.ctop-catalog-title{
    text-align: center;
    color: var(--ctop-color-font-one);
}
.ctop-catalog-cards-container{
    display: flex;    
    flex-direction: column;
    align-items: center;
}
#ctop-comments-section{
    width: 100%;
    background-color: var(--ctop-color-bg-four);
    margin: 0 0;
}

@media (min-width: 1200px) {
    .ctop-catalog-main section{
        padding: 25px 120px;
    }
}