.ctop-catalog-main{
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ctop-catalog-main section{
    padding-bottom: 25px;
}
.ctop-catalog-title{
    text-align: center;
    color: var(--ctop-color-font-one);
}
.ctop-catalog-cards-container{
    display: flex;    
    flex-direction: column;
    align-items: center;
}