@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --ctop-color-bg-one: #fff;
  --ctop-color-bg-two: #3C9AF0;
  --ctop-color-bg-tree: #D9D9D900;
  --ctop-color-bg-four: #C8C8C8;
  
  --ctop-color-font-one: #5E5E5E; 
  --ctop-color-font-two: #3C9AF0; 
  --ctop-color-font-tree: #fff;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

a ,a:hover {
  text-decoration: none;
  color: unset;
}

html, body {
  background-color: var(--ctop-color-bg-one);
}

.ctop-container{
  width: 100%;
  margin: 0 auto;
}

.ctop-align-itens{
  display: flex;    
  flex-direction: column;
  align-items: center;
}